

h1 {
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 22%;
    color: #447E86;
    padding-top: 30px;
    padding-bottom: 20px;


}

.box {
    height: 225px;
    width: 60%;
    border-style: solid;
    border-color: #447E86;
    border-width: thin;
    background-color: white;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
   


}

.hoorapparaat {
    position: relative;
    float: left;
    margin: 31px;
    height: 175px;
    width: 275px;

}

.blinde {
    position: relative;
    height: 175px;
    width: 275px;
    float: right;
    margin: 30px;
}





.titel13 {
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 320px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #447E86;

}

.tekst13 {
    margin-top: auto;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 12px;
    color: #447E86;
    line-height: 1.5;


}


.titelvisus {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #447E86;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.tekstvisus {
    font-family: sans-serif;
    font-size: 12px;
    color: #447E86;
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}



a {
    text-decoration-line: none;

}

h2:hover {
    text-decoration-line: underline;
}

article::first-letter {
    font-size: 125%;

}

//test



*p,
a {
    font-family: Helvetica;
}


.logo {
    float: left;
    padding: 0.5%;
    width: 8%;
    margin-left: 15%;
}

.navigatie {
    float: right;
}

.navigatie li {
    display: inline-block;
    background: none;
    float: right;   
}

.navigatie li a {
    color: white;
    display: block;
    padding: 0em 1.5em 0em 1.5em;
    line-height: 1;
    text-decoration: none;
    height: 100%;
}

header a {
    font-size: 1.5em;
}

.navigatie li:hover,
.portfolio-nav li:hover {
    background: none;
}

.navigatie li > a:hover,
.portfolio-nav li > a:hover {
    
text-decoration-line: underline;
    font-weight: 500;
    border-bottom: 3px rgb(38, 129, 152);
    background: none;
}

.navigatie .actief,
.portfolio-nav .actief {
   
    font-weight: 200;
    border-bottom: 3px solid rgb(38, 129, 152);
   text-decoration-line: underline;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

body {
    background-color: rgb(196,215,219);
margin: 0px;
}

header ul {
    background-color: rgb(38,129,152);
    margin: 1% 0% 1% 0%;
}

header nav {
    width: 65%;
    padding-top: 2.5%;
   
}

footer div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  padding-left: 0px;
    background-color: rgb(38, 129, 152);
}

footer div p {
    color: white;
    padding: 2% 0 2% 4%;
    margin-bottom: 0;
    font-size: 1em; 
    text-align: center;
}


@media only screen and (min-width: 750px) and (max-width: 1580px) {
    .box {
        height: inherit;

        width: inherit;
    }

    .hoorapparaat {
        display: block;
        margin: 30px 15px 15px 30px;

    }

    .blinde {
        display: block;
        margin: 30px 30px 15px 15px;
    }

    .tesktvisus {
        margin-left: 5%;
        margin-right: 5%;

    }



    .tekst13 {
        margin-left: 5%;
        margin-right: 5%;


    }




}


@media only screen and (max-width: 750px) {


    .hoorapparaat {
        display: none;
    }

    .blinde {
        display: none;
    }

    .box {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: inherit;
    }


    .tekst13 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .titel13 {
        text-align: center;
        margin: 18px;
        font-size: 20px;
    }

    .titelvisus {
        text-align: center;
        margin: 18px;
        font-size: 20px;
    }

    .tesktvisus {
        margin-left: 5%;
        margin-right: 5%;

    }

    h1 {
        font-size: 25px;
        margin: 13px 0px 13px 6%;

    }



}
